body {
    font-family: Arial, sans-serif;
    background-color: rgba(58, 136, 107, 0.3); /* 使用与 index.css 相同的背景颜色和透明度 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px; /* 放大登录注册忘记密码框的内边距 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* 放大登录注册忘记密码框的宽度 */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left; /* 将文本左对齐 */
}

input {
    width: 100%;
    padding: 10px; /* 放大输入框的内边距 */
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px; /* 放大按钮的内边距 */
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    color: red;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
